# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
env.bak/
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# mypy
.mypy_cache/
.dmypy.json

# Pyre
.pyre/

# Cython debug symbols
cython_debug/

# VSCode
.vscode/

# Data
*.csv
*.tsv
*.dat
*.npz
*.npy

# Checkpoints
checkpoints/

# Output
output/

#add samed_venv
samed_venv/

# Add samed_env to ignore virtual environment
samed_env/