
torch==2.3.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.3.1+cu121

numpy==1.26.4
scipy==1.13.1
Pillow==10.4.0
SimpleITK==2.3.1
imageio==2.34.1
einops==0.8.0
medpy==0.5.1
safetensors==0.4.3
segment-anything==1.0.2

tqdm==4.66.4
tensorboardX==2.6.2.2
nni==3.0
icecream==2.1.3
